{% extends 'base.html' %}

{% block content %}
<h1>Edit Product</h1>
<form action="/products" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Image URL:</label>
  <input type="text" name="image_url">

  <label for="">Type:</label>
  <input type="text" name="type">

  <label for="">Quantity:</label>
  <input type="text" name="quantity">

  <label for="">Price:</label>
  <input type="text" name="price">
  
  <label for="">Description:</label>
  <input type="text" name="description">

  <button>Update product</button>
</form>
{% endblock %} 