{% extends 'base.html' %}

{% block content %}
<h1>Edit Product</h1>

<section class="edit-product">
<form action="/products/{{ product['id'] }}" method="POST">
  <label for="">Name:</label>
  <input value="{{ product['name'] }}" type="text" name="name">

  <label for="">Image URL:</label>
  <input value="{{ product['image_url'] }}" type="text" name="image_url">

  <label for="">Type:</label>
  <input value="{{ product['type'] }}" type="text" name="type">

  <label for="">Quantity:</label>
  <input value="{{ product['quantity'] }}" type="text" name="quantity">

  <label for="">Price:</label>
  <input value="{{ product['price'] }}" type="text" name="price">
  
  <label for="">Description:</label>
  <input value="{{ product['description'] }}" type="text" name="description">

  <button>Update product</button>
</form>
</section>
{% endblock %} 