{% extends 'base.html' %}

{% block content %}
<h1>Sign up</h1>
<form action="/users" method="POST">
  <label for="users">You are:</label>
  <select id="users">
    <option value="admin">Admin</option>
    <option value="customer">customer</option>
  </select>
    
  <label for="">First Name:</label>
  <input type="text" name="first_name">

  <label for="">Last Name:</label>
  <input type="text" name="last_name">

  <label for="">Address:</label>
  <input type="text" name="address">

  <label for="">Email:</label>
  <input type="text" name="email">

  <label for="">Password:</label>
  <input type="password" name="password">

  <button>Sign in</button>
</form>
{% endblock %} 